.modal {
  &.show {
    display: block;
    overflow-y: auto;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;

  &.show {
    opacity: 0.5;
  }
}

.modal-dialog {
  z-index: 1050;
}

.btn-close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  opacity: 0.5;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

pre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #344767;
}
