.main-content {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 17.125rem;
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
  min-height: 100vh;
}

.max-height-vh-100 {
  max-height: 100vh !important;
}

.h-100 {
  height: 100% !important;
}

.position-relative {
  position: relative !important;
}

.border-radius-lg {
  border-radius: 0.75rem !important;
}

// Responsive adjustments for sidebar
@media (max-width: 1199.98px) {
  .main-content {
    margin-left: 0;
  }
}
